[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_US]=gnome-panel-launcher
Name[en_US]=serial-ttyS5
Exec=/home/lyzv/bin/serial-ttyS5
Name=serial-ttyS4
Icon=gnome-panel-launcher
